{% load static %}
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Smart<span class="text-gradient">Recycle</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link subtext-style" href="{% url 'inicio' %}">Inicio</a></li>
                <li class="nav-item"><a class="nav-link subtext-style" href="{% url 'Mapas' %}">Puntos de Información</a></li>            
                <li class="nav-item"><a class="nav-link subtext-style" href="{% url 'tips' %}">Tips</a></li>            
                <li class="nav-item"><a class="nav-link subtext-style" href="{% url 'blogs:foro' %}">Foro</a></li>            
                <li class="nav-item"><a class="nav-link subtext-style" href="{% url 'blogs:featured' %}">Destacados</a></li>
                <li class="nav-item"><a class="nav-link subtext-style" href="{% url 'cuestionario_inicio' %}">Huella</a></li>

                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle subtext-style" href="#" role="button" data-bs-toggle="dropdown"aria-expanded="false">Categorías</a>
                    <ul class="dropdown-menu">
                        {% for category in categories %}
                        <li><a class="dropdown-item" href="{% url 'blogs:category' category.slug %}">{{ category.title}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link subtext-style" href="{% url 'reporte' %}"><img style="width: 30px;" src="https://cdn-icons-png.flaticon.com/512/4201/4201973.png"></a></li>
            </ul>
            <form class="d-flex" role="search" action="{% url 'blogs:search' %}" method="get">
                <input name="search" class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" pattern=".*[a-zA-Z0-9].*" title="Debe ingresar al menos una letra o número" required>
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
            <ul></ul>
            {% if user.is_authenticated %}
            <form class="d-inline" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-primary ms-2">Cerrar sesión</button>
            </form>
            {% else %}
            <a class="btn btn-outline-primary ms-2" href="{% url 'login' %}" role="button">Iniciar sesión</a>
            {% endif %}
        </div>
    </div>
</nav>