{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <!-- form card login -->
                    <div class="card rounded-0">
                        <div class="card-header">
                            <h3 class="mb-0">Iniciar Sesión</h3>
                        </div>
                        <div class="card-body">
                            {% if messages %}
                                <ul class="messages">
                                    {% for message in messages %}
                                        {% if 'activacion_cuenta' in message.tags %}
                                            <li class="success">{{ message }}</li>
                                        {% elif 'error_activacion' in message.tags %}
                                            <li class="error">{{ message }}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <form class="form" role="form" method="POST" action="{% url 'login' %}">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <button type="submit" class="btn btn-primary btn-lg float-right">Iniciar Sesión</button>
                            </form>
                            <div class="form-group mt-4">
                                <p class="text-center"><a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a></p>
                                <p class="text-center">¿No tienes una cuenta? <a href="{% url 'users:registration' %}">Regístrate</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- /form card login -->
                </div>
            </div>
            <!--/row-->
        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->
{% endblock %}